.toggle[aria-pressed='true'] {
  color: var(--content-bg);
  background: var(--content-fg);
}

.toggle[aria-pressed='true']::before {
  content: '✓ ' / '';
}

.toggle[aria-pressed='true']:disabled {
  color: var(--content-bg);
  background: var(--disabled-fg);
}

.box {
  width: 3rem;
  transform: translateX(-50%);
}

.stopLabel {
  position: relative;
  height: 1.5em;
}

.stopLabel span {
  position: absolute;
  white-space: nowrap;
  transform: translateX(-50%);
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
